# API Gateway
PORT=3000
CLUSTER_MANAGER_URL=http://cluster-manager:8082

# Cluster Manager
# PORT=8082
# REPLICATION_FACTOR=2
# VIRTUAL_NODES_PER_PHYSICAL=150
# HEARTBEAT_INTERVAL=5000
# HEARTBEAT_TIMEOUT=15000

# Cache Node (set per-node via docker-compose environment)
# PORT=5001
# NODE_ID=node-a
# CLUSTER_MANAGER_URL=http://cluster-manager:8082
# DEFAULT_TTL=300
# MAX_CACHE_SIZE=1000
